<br>
<div class="row">
  <div class="col-sm-6">
    <h2>To Do's Angular</h2>
    <ul class="list-group">
      <li class="list-group-item">Setup bootstrap as sass too</li>
      <li class="list-group-item">Setup article service (articles are maintained in Keystone.js)</li>
      <li class="list-group-item">Setup user service (users are maintained in Keystone.js)</li>
      <li class="list-group-item">Setup authentication service (autentication maintained in Keystone.js)</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h2>To Do's Keystone JS</h2>
    <ul class="list-group">
      <li class="list-group-item">Set up Keystone with MDB to use the same css and js as the tournament-app (tma)</li>
      <li class="list-group-item">Setup another gallery with local storage in keystone.js (or a free and fast hosting)</li>
      <li class="list-group-item">Maak een articles overview in keystone.js (like the blogs)</li>
    </ul>
    <br>
    <h2>To Do's for going live</h2>
    <ul class="list-group">
      <li class="list-group-item">Domain (voorlopig rch-toernooi)</li>
      <li class="list-group-item">Setup cms as 'cms-rch-tortnooi.nl'</li>
    </ul>
  </div>
</div>



