<tma-keys></tma-keys>

<br><br>
<button
  class="btn btn-primary btn-margin"
  *ngIf="!user.isAuthenticated()"
  (click)="user.login()">
  Log In
</button>

<button
  class="btn btn-primary btn-margin"
  *ngIf="user.isAuthenticated()"
  (click)="user.logout()">
  Log Out
</button>


<div class="row">
  <div class="col-sm-8">
    <h2>Resources</h2>
    <ul class="list-group">
      <li class="list-group-item"><a href="https://mdbootstrap.com/">https://mdbootstrap.com/</a></li>
      <li class="list-group-item"><a href="https://ng-bootstrap.github.io/">https://ng-bootstrap.github.io/</a></li>
      <li class="list-group-item"><a href="https://material.angular.io/">https://material.angular.io/</a></li>
      <li class="list-group-item"><a href="http://fontawesome.io/icons/">http://fontawesome.io/icons/</a></li>
    </ul>
  </div>
</div>



