<tma-keys></tma-keys>

<br><br>
<button
  class="btn btn-primary btn-margin"
  *ngIf="!user.isAuthenticated()"
  (click)="user.login()">
  Log In
</button>

<button
  class="btn btn-primary btn-margin"
  *ngIf="user.isAuthenticated()"
  (click)="user.logout()">
  Log Out
</button>

<div class="cmp">
  <tma-cmp1></tma-cmp1>
  <tma-cmp2></tma-cmp2>
  <tma-cmp3>
    <tma-cmp4></tma-cmp4>
  </tma-cmp3>
</div>


<div class="row">
  <div class="col-sm-6">
    <h2>To Do's Angular</h2>
    <ul class="list-group">
      <li class="list-group-item">Setup user service (users are maintained in Keystone.js)</li>
      <li class="list-group-item">Setup authentication service (autentication maintained in Keystone.js)</li>
    </ul>
  </div>
  <div class="col-sm-6">
    <h2>To Do's Keystone JS</h2>
    <ul class="list-group">
      <li class="list-group-item">Setup another gallery with local storage in keystone.js (or a free and fast hosting)</li>
    </ul>
    <br>
    <h2>To Do's for going live</h2>
    <ul class="list-group">
      <li class="list-group-item">Domain (voorlopig rch-toernooi)</li>
      <li class="list-group-item">Setup cms as 'cms-rch-toernooi.nl'</li>
    </ul>
  </div>
</div>



